OPENROUTER_API_KEY=sk-or-v1-fa20asdfasdfasrtgsbadaf0f764fsdfgsdfgsb7135fec3bbc0b369628069017141dcb08
PORT = 5000

JWT_PASSWORD = "DAYFORGE1234"

GOOGLE_CLIENT_ID = asdfasdfadsfa-lkjar934ural.apps.googleusercontent.com
GOOGLE_REDIRECT_URI = http://localhost:5000/auth/google/callback
GOOGLE_CLIENT_SECRET = skldhfakfkldsgffja